.navbar {
    margin: 0;
    display: flex;
    gap: 15px;
}

.navbar li {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    font-weight: 500;
    font-size: 18px;
}

.navbar li:hover, .navbar li.active {
    border-bottom: 1px solid var(--primary);
    color: var(--primary);
}